.content{
    width: 90%;
    height: 300px;
    margin: auto;
    /* background: green; */
}

.item{
    width: 24%;
    height: 100%;
    background:#f9f9fd ;
    display: inline-block;
    text-align: center;
}

img{
    margin-top: 40px;
}